<section class='station'>
  <h3 class='name'><%= facade.name %></h3>
  <section class='address'>
    <p><%= facade.street %></p>
    <p <%= facade.city %>, <%= facade.state %>, <%= facade.zip %></p>
  </section>
  <p class='fuel-type'><%= facade.fuel_type %></p>
  <p class='distance'><%= facade.distance %></p>
  <p class='access-times'><%= facade.access_times %></p>
  <p class='travel-time'><%= facade.travel_time %></p>
  <section class='directions'>
    <p>facade.directions</p>
  </section>
</section>
